
/* MAIN CONTENT */
.main-content {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}

.page-header {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-main);
    margin-bottom: 30px;
}

/* DATA CARD & TABLE */
.data-card {
    background: white;
    border-radius: 12px;
    padding: 25px;
}

.btn-add {
    background-color: var(--accent-blue);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    /* cursor: pointer; */
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 25px;
    transition: 0.3s;
}

.btn-add:hover {
    background-color: #2563eb;
}

/* Table bên file style.css*/


/* ACTIONS */
.action-links a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    margin-right: 15px;
}

.edit-link { color: var(--accent-blue); }
.delete-link { color: #ef4444; }

.action-links a:hover {
    text-decoration: underline;
}